<h3><%= @user.user_name %> follows the following users: </h3>

<ul>
        <% if @users == [] %>
            This User follows 0 other Users.
        <% else %>
            <li>
                <% @users.each do |uf| %> 
                    <%= link_to uf.followee.user_name, user_path(uf.followee) %> 
                <% end %>
            </li>
        <% end %>
</ul>