<h2><%= @user.user_name %></h2>
    <p>Followers: <%=link_to @user.followers.count, user_followers_path  %></p> 
    <p>Following: <%= @user.followees.count %></p> 
    <p>Posts: <%= @user.posts.count %></p> 

