<%= link_to "All Posts", posts_path %>

<% if current_user == @post.user %>
    <%= link_to "Edit Post", edit_post_path %>
<% end %>
<div class='post'>
<h2 id='' >Title <%= @post.title%></h2>

<%= image_tag(@post.image) %>
</div>