/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 #photo-gallary ul {
     display: flex;
     flex-wrap: wrap;
     width: 62.5vw;
     flex-direction: row; 
     align-content: center;
 }

 #photo-gallary ul li {
    flex: 0 0 33%;
    list-style-type: none;
    align-items: center;
  }